<h1 class="text-center mt-4">All possible reasons for purchases</h1>

<div class="apple_pagination mt-3">
    <%= will_paginate @reasons, :container => false %>
</div> 

<div class="text-center container mt-3">            
    <table class="table table-hover">
        <thead>
        <tr>
            <th>Reason</th>
        </tr>
        </thead>
        <tbody>
            <% @reasons.each do |reason| %>
                <td><%= reason.option %></td>
                </tr>
            <% end %>
        </tbody>
    </table>
  </div>