<%
=begin%>
 <div class="background-image">
<div class="container-fluid mt-5">
  
    <div class="d-md-flex justify-content-center mt-5">
      <div>
        <h2 style= "text-color white">Let<span> Virtual Wallet</span> grow your money for you</h1>
        <ul>
          <h2>Calculate balances in real time so you know how much you can spend.</h2>
          <br>
          <h2>Track your daily expenses so you can reconcile financial accounts with ease.</h2>
        </ul>
      </div>
    </div>
  </div>
</div> 
<%
=end%>




 <div class="home-background mask">
  <div id="overlay">
  <div class="h-100 d-flex flex-column justify-content-around">
    <h1 class="home-header">Let Virtual Wallet Grow Your Money For You</h1>
    <p class="home-paragraph">
      Calculate balances in real time so you know how much money you can spend
    </p>
    <p class="home-paragraph">
      Track your daily purchases so you can reconcile financial accounts with ease
    </p>
  </div>
  </div>
</div>
</div>  


<%
=begin%>
 <div class="view">
<div 
  class="p-5 text-center bg-image" 
  style="
    background-image: url('https://images.unsplash.com/photo-1607296393394-6e25d0fc15cc?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1718&q=80'); 
    height: 400px;
  "
>
<div class="mask pattern-1"></div>
</div>
  
    <div class="d-flex justify-content-center
    align-items-center h-100">
      <div class="text-white">
        <h1 class="mb-3">Heading</h1>
        <h4 class="mb-3">Subheading</h4>
        <a class="btn btn-outline-light btn-lg"
        href="#!" role="button"
          >Call to action</a
        >
      </div>
    </div>
    </div>
  </div>
</div> 
<%
=end%>




  
  
    
      


