<%
=begin%>
 <div class="background-image">
<div class="container-fluid mt-5">
  
    <div class="d-md-flex justify-content-center mt-5">
      <div>
        <h2 style= "text-color white">Let<span> Virtual Wallet</span> grow your money for you</h1>
        <ul>
          <h2>Calculate balances in real time so you know how much you can spend.</h2>
          <br>
          <h2>Track your daily expenses so you can reconcile financial accounts with ease.</h2>
        </ul>
      </div>
    </div>
  </div>
</div> 
<%
=end%>




 
 <div class="home-background">
  <div id="overlay">
  <div class="h-100 d-flex flex-column text-center justify-content-center">
    <h1 class="home-header mt-5">Let Virtual Wallet Grow Your Money For You</h1>
    <h4 class="home-paragraph mt-5">
      Calculate balances in real time so you know how much money you can spend
    </h4>
    <h4 class="home-paragraph mt-5">
      Track your daily purchases so you can reconcile financial accounts with ease
    </h4>
  </div>
  </div>
</div>
</div>   








  
  
    
      


