<h1 class="text-center mt-4">List of Food Budgets per Client</h1>

<div class="container mt-5">            
  <table class="table table-hover">
    <thead>
      <tr>
        <th>User</th>
        <th>Amount</th>
      </tr>
    </thead>
    <tbody>
        <% @food_budgets.each do |food_budget| %>
          <% if food_budget.user %>
            <td>added by <%= link_to food_budget.user.username, user_path(food_budget.user) %></td> 
          <% end %> 
            <td><%= number_to_currency(food_budget.amount) %></td>
        <% end %> 
    </tbody>
  </table>
</div>