@import 'bootstrap/dist/css/bootstrap';

.navbar {
    background-color: rgb(147, 155, 145) !important;
}

.nav-link {
    color: white !important
}

#logo {
    float: left;
    font-size: 1cm;
    color: rgb(74, 95, 18);
    text-transform: uppercase;
    letter-spacing: -1px;
    font-weight: bold;
}

// #home-container {
//     margin-top: 25px;
//     background-color: beige;

// }

// #jumbotron {
//     // text-align: center;
//     background-image: asset-url('wallet1.jpg');
//     background-position: center center;
//     background-size: cover;
//     background-repeat: no-repeat;
    
//     height: 700px;
//     color: black
// }

// .home-background {
//     padding: 5% 2%;
//     background-size: cover;
//     background-image: asset-url("wallet1");
//     height: 90vh;
//     width: 100%;
//   }

// .home-header {
//     color: rgb(71, 73, 71);
//     font-size: 8vw;
// }

// .flex-container {
//     background:rgb(233, 50, 50);
//     display: flex;
//     flex-direction: column;
//     width: 60%;
//     justify-content: center;
// }

// .flex-container {
//     display: flex;
//     flex-wrap: wrap;
//     justify-content: center;
//     background-image: asset-url("wallet1");
//     background-size: cover;
//     height: 90vh;
//     width: 100%
// }

// .flex-container-question {
//     display: flex;
//     justify-content: center;
//     width: 60%;
// }

// .flex-container-bullets {
//     display: flex;
//     justify-content: center;
//     width: 60%;
//     margin-top: 50px;
//     font-size: 35px;
// }
  
// .flex-container > div {
//     background-color: #f1f1f1;
//     width: 100px;
//     margin: 10px;
//     text-align: center;
//     line-height: 75px;
//     font-size: 30px;
// }

.background-image {
    background-image: asset-url("money_jar");
    background-size: cover;
    height: 90vh;
    width: 100%
}

li {
    font-size: 30px;
    font-family:'Courier New', Courier, monospace;
}

h1 {
    font-family:'Courier New', Courier, monospace;
    font-size: 50px
}

