@import 'bootstrap/dist/css/bootstrap';

.navbar {
    background-color: rgb(147, 155, 145) !important;
}


.nav-link {
    color: white !important;
    font-size: 1rem;
    font-family:'Courier New', Courier, monospace;
}


#logo {
    float: left;
    font-size: 1cm;
    color: rgb(172, 58, 9);
    text-transform: uppercase;
    letter-spacing: -1px;
    font-weight: bold;
}

#sticky-footer {
    background-color: rgb(147, 155, 145) !important;
}q


#abc {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    padding: 10px;
}

#overlay {
    position: relative;
    background: linear-gradient(to left, rgba(11, 11, 11, 0.6), rgb(252, 251, 251));
    height: inherit;
    width: inherit;
  }

li {
    font-size: 1rem;
    font-family:'Courier New', Courier, monospace;
}




.apple_pagination {
    background: #f1f1f1;
    border: 1px solid #e5e5e5;
    text-align: center;
    padding: 1em;
    cursor: default; }
    .apple_pagination a, .apple_pagination span {
      padding: 0.2em 0.3em; }
    .apple_pagination .disabled {
      color: #aaaaaa; }
    .apple_pagination .current {
      font-style: normal;
      font-weight: bold;
      background-color: #bebebe;
      display: inline-block;
      width: 1.4em;
      height: 1.4em;
      line-height: 1.5;
      -moz-border-radius: 1em;
      -webkit-border-radius: 1em;
      border-radius: 1em;
      text-shadow: rgba(255, 255, 255, 0.8) 1px 1px 1px; }
    .apple_pagination a {
      text-decoration: none;
      color: black; }
      .apple_pagination a:hover, .apple_pagination a:focus {
        text-decoration: underline; }

h2 {
    font-family:'Courier New', Courier, monospace;
    font-size: 50px;
    color: white
}

.home-background {
    background-image: asset-url("wallet1");
    // opacity: .8;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 100vh;
    width: 100%;
    backdrop-filter: blur(3px);
    background-color: rgba(178, 60, 253, 0.2);
}



.home-header {
    font-family:'Courier New', Courier, monospace;
    color: black;
    font-size: 8vw;
}

.home-paragraph {
    font-family:'Courier New', Courier, monospace;
    color: black;
    font-size: 4vw;
}


// .home-background {
//     background-image: asset-url("register");
//     object-fit: none;
//     background-size: 100% 100%;
//     padding: 5% 2%
// }

// h1 {
//     font-family:'Courier New', Courier, monospace;
//     font-size: 50px;
// }

// #home-container {
//     margin-top: 25px;
//     background-color: beige;

// }

// #jumbotron {
//     // text-align: center;
//     background-image: asset-url('wallet1.jpg');
//     background-position: center center;
//     background-size: cover;
//     background-repeat: no-repeat;
    
//     height: 700px;
//     color: black
// }

// .home-background {
//     padding: 5% 2%;
//     background-size: cover;
//     background-image: asset-url("wallet1");
//     height: 90vh;
//     width: 100%;
//   }

// .home-header {
//     color: rgb(71, 73, 71);
//     font-size: 8vw;
// }

// .flex-container {
//     background:rgb(233, 50, 50);
//     display: flex;
//     flex-direction: column;
//     width: 60%;
//     justify-content: center;
// }

// .flex-container {
//     display: flex;
//     flex-wrap: wrap;
//     justify-content: center;
//     background-image: asset-url("wallet1");
//     background-size: cover;
//     height: 90vh;
//     width: 100%
// }

// .flex-container-question {
//     display: flex;
//     justify-content: center;
//     width: 60%;
// }

// .flex-container-bullets {
//     display: flex;
//     justify-content: center;
//     width: 60%;
//     margin-top: 50px;
//     font-size: 35px;
// }
  
// .flex-container > div {
//     background-color: #f1f1f1;
//     width: 100px;
//     margin: 10px;
//     text-align: center;
//     line-height: 75px;
//     font-size: 30px;
// }

// .background-image {
//     background-image: asset-url("register");
//     background-size: cover;
//     height: 100vh;
//     width: 100%
// }
