<div class="background-image">
  <div class="container-fluid">
    <div class="row">
      <div class="col">
        <div class="container-md pt-5 text-center">
          <h1>What can<span class="text-success"> Virtual Wallet</span> do for you?</h1>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col">
        <div class="clearfix">
          <div class="container-md pt-5 mt-5 w-50 float-start">
            <ul>
              <li>Keep track of your daily expenses</li>
              <li>Use your list of expenses to reconcile your credit card statement</li>
              <li>Manage multiple spending categories at one time</li>
              <li>Calculate category balances in real time</li>
              <li>Keep you from overspending</li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<footer id="sticky-footer" class="py-4 bg-dark text-white">
  <div class="container text-center">
    <small>;)</small>
  </div>
</footer>


  





<%
=begin%>
 <div class="container-md pt-5 bg-primary">
  <div class="d-md-flex align-items-center justify-content-between">
    <div>
      <h1>What can<span class="text-success"> Mobile Wallet</span> do for you?</h1>
      <ul style="justify-content: center">
        <li>Keep track of your daily debits and credits</li>
        <li>Manage multiple budget categories at one time</li>
        <li>Calculate category balances in real time</li>
        <li>Keep you from overspending</li>
      </ul>
    </div>
  </div>
</div>     
<%
=end%>
    
    
    <%
=begin%>
 <h1 class="home-header">Mobile Wallet</h1>
    <h1>What can<span class="text-success"> Mobile Wallet</span> do for you?</h1>
  <div class="flex-container-question">
    <h1>What can<span class="text-success"> Mobile Wallet</span> do for you?</h1>
  </div> 
<%
=end%>
  
  
    
      


