<div class="container mt-3" id="home-container">
  <div class="mt-4 p-5 bg-white rounded" id="jumbotron">
    <h1 class="display-1">Mobile Wallet</h1> 
    <p>Manage multiple budget categories at one time.  Calculate current balances of each budget categories in real time by tracking your debits and credits</p>
    <div class="row">
      <%= link_to 'Go to list of transactions', transactions_path(@transaction) %>
      <%= link_to 'About page', about_path %>
      <%= link_to "Add a transaction", new_transaction_path %>
    </div>
  </div>
</div>


