<div class="background-image">
  <div id="overlay">
    <div class="container-fluid">
      <div class="row" id="abc">
        <div class="col">
          <div class="container-md pt-5 text-center">
            <h1>What can<span class="text-success"> Virtual Wallet</span> do for you?</h1>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col">
          <div class="clearfix">
            <div class="container-md pt-5 mt-5 w-50 float-start text-white">
              <ul>
                <li>Track your daily expenses so you may reconcile various financial accounts with ease.</li>
                <br>
                <li>Calculate multiple spending categorie balances in real time to keep you from overspending so you can grow your money over time.</li>
              </ul>
              <%= link_to 'Sign Up', signup_path, class: "btn btn-outline-success btn-lg float-end" %>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<footer id="sticky-footer" class="py-4 bg-light text-green">
  <div class="container text-center">
    <small>Copyright @ Nancy Proctor</small>
  </div>
</footer>


  





<%
=begin%>
 <div class="container-md pt-5 bg-primary">
  <div class="d-md-flex align-items-center justify-content-between">
    <div>
      <h1>What can<span class="text-success"> Mobile Wallet</span> do for you?</h1>
      <ul style="justify-content: center">
        <li>Keep track of your daily debits and credits</li>
        <li>Manage multiple budget categories at one time</li>
        <li>Calculate category balances in real time</li>
        <li>Keep you from overspending</li>
      </ul>
    </div>
  </div>
</div>     
<%
=end%>
    
    
    <%
=begin%>
 <h1 class="home-header">Mobile Wallet</h1>
    <h1>What can<span class="text-success"> Mobile Wallet</span> do for you?</h1>
  <div class="flex-container-question">
    <h1>What can<span class="text-success"> Mobile Wallet</span> do for you?</h1>
  </div> 
<%
=end%>
  
  
    
      


