<div class="container mt-3" id="home-container">
  <div class="mt-4 p-5 bg-success rounded" id="jumbotron">
    <h1>Jumbotron Example</h1> 
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat..</p> 
  </div>
</div>


<%= link_to 'Go to list of transactions', transactions_path(@transaction) %>|
<%= link_to 'About page', about_path %>|
<%= link_to "Add a transaction", new_transaction_path %>