<h1 class="text-center mt-4">List of Transactions</h1>

    <div class="apple_pagination mt-3">
        <%= will_paginate @transactions, :container => false %>
    </div> 

<%= Transaction.sum(:amount) %>

<%= render 'transaction' %>


    
