<h1>show an individual transaction</h1>

<p><strong>Amount: </strong><%= @transaction.amount %></p>
<p><strong>Type: </strong> <%= @transaction.transaction_type %></p>
        
       
            
        
   