 <div class="container">
    <% flash.each do |k, v| %>
        <div class="alert alert-secondary alert-success fade show" role="alert">
            <%= v %>
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
    <% end %>
</div>